/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(240, 244, 245, 255);
  height: 100%;
  margin: 0;
  padding: 1.5rem;
}
